<?xml version="1.0"?>
<robot name="camera">

  <!-- Color of materials -->
  <material name="yellow">
    <color rgba="1 1 0 1"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.04"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="yellow" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.05" radius="0.04"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="1.0" />
    </inertial>
  </link>

  <joint name="pan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="cam_link"/>
    <origin xyz="0 0 0"/>
    <axis xyz="0 0 1" />
    <limit effort="300" velocity="0.1" lower="-3.1" upper="3.1"/>
  </joint>

  <link name="cam_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.075"/>
      <material name="blue" />
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.075"/>
    </collision>
    <inertial>
      <mass value="0.1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="1.0" />
    </inertial>
  </link>
  
  <joint name="camera_rgb_joint" type="fixed">
 <origin xyz="0.003 0.011 0.009" rpy="0 0 0"/>  
 <parent link="cam_link"/>
 <child link="camera_rgb_frame"/>
</joint>


<link name="camera_rgb_frame"/>

<joint name="camera_rgb_optical_joint" type="fixed">

 <origin xyz="0 0 0" rpy="0 0 0"/>
 <parent link="camera_rgb_frame"/>
 <child link="camera_rgb_optical_frame"/>
</joint>

<link name="camera_rgb_optical_frame"/>

<gazebo reference="camera_rgb_optical_frame">
 <sensor type="camera" name="gripper_camera">
   <update_rate>30.0</update_rate>
   <camera name="gripper">
     <horizontal_fov>1.3962634</horizontal_fov>
     <image>
       <width>800</width>
       <height>800</height>
       <format>R8G8B8</format>
     </image>
     <clip>
       <near>0.02</near>
       <far>300</far>
     </clip>
     <noise>
       <type>gaussian</type>
       <!-- Noise is sampled independently per pixel on each frame. That pixel's noise value is added to each of its color channels, which at that point lie in the range [0,1]. -->
       <mean>0.0</mean>
       <stddev>0.007</stddev>
     </noise>
   </camera>
   <plugin name="camera_rgb_optical_frame" filename="libgazebo_ros_camera.so">
     <alwaysOn>true</alwaysOn>
     <updateRate>30.0</updateRate>
     <cameraName>gripper_camera</cameraName>
     <imageTopicName>image_raw</imageTopicName>
     <cameraInfoTopicName>camera_info</cameraInfoTopicName>
     <frameName>camera_rgb_optical_frame</frameName>
     <hackBaseline>0.07</hackBaseline>
     <distortionK1>0.0</distortionK1>
     <distortionK2>0.0</distortionK2>
     <distortionK3>0.0</distortionK3>
     <distortionT1>0.0</distortionT1>
     <distortionT2>0.0</distortionT2>
   </plugin>
 </sensor>
</gazebo>

<gazebo reference="camera_link">
 <material>Gazebo/Red</material>
</gazebo>

<!-- END - RGB Camera -->

</robot>
